.centring {
    width: 400px;
    height: 400px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body::after {
    position: fixed!important;
    content: url(test1.gif);
    bottom: -10px;
    right: 1px!important;
    opacity: 1;
    z-index: -1;
}

