<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            document.querySelector('#form1').style.visibility ="hidden"
            document.querySelector('#form2').style.visibility ="hidden"
            document.querySelector('#form3').style.visibility ="hidden"
            document.querySelector('#form4').style.visibility ="hidden"
            document.querySelector('#st').onclick= function(){
                document.querySelector('#form1').style.visibility ="visible"
            }
            document.querySelector('#te').onclick= function(){
                document.querySelector('#form2').style.visibility ="visible"
            }
            document.querySelector('#dep').onclick= function(){
                document.querySelector('#form3').style.visibility ="visible"
            }
            document.querySelector('#times').onclick= function()
            {
                document.querySelector('#form4').style.visibility ="visible"
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button type="button" class="btn btn-primary" id="st">student-control</button>
                <form action="{{url_for('admin',id = id)}}" method="post" id="form1">
                    <div class="form-group">
                        <label for="de">deparment:</label>
                        <input type="text" class="form-control" id="de" aria-describedby="emailHelp" placeholder="deparment" name="deparment">
                    </div>
                    <div class="form-group">
                        <label for="pr">program:</label>
                        <input type="text" class="form-control" id="pr" placeholder="program" name="program">
                    </div>
                    <div class="form-group">
                        <label for="le">level:</label>
                        <input type="text" class="form-control" id="le" placeholder="level" name="level">
                    </div>
                    <button type="submit" class="btn btn-primary" name="btn" value="student">Get</button>
                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button type="button" class="btn btn-success" id="te">teacher-control</button>
                <form action="{{url_for('admin',id = id)}}" method="post" id="form2">
                    <div class="form-group">
                        <label for="de">deparment:</label>
                        <input type="text" class="form-control" id="de" aria-describedby="emailHelp" placeholder="deparment" name="deparment">
                    </div>
                    <button type="submit" class="btn btn-primary" name="btn" value="teacher">Get</button>
                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button type="button" class="btn btn-danger" id="dep">courses-control</button>
                <form action="{{url_for('admin',id = id)}}" method="post" id="form3">
                    
                    <div class="form-group">
                        <label for="de">deparment:</label>
                        <input type="text" class="form-control" id="de" aria-describedby="emailHelp" placeholder="deparment" name="deparment">
                    </div>
                    <div class="form-group">
                        <label for="de">program:</label>
                        <input type="text" class="form-control" id="de" aria-describedby="emailHelp" placeholder="program" name="program">
                    </div>
                    <div class="form-group">
                        <label for="de">level:</label>
                        <input type="text" class="form-control" id="de" aria-describedby="emailHelp" placeholder="level" name="level">
                    </div>
                    
                    <button type="submit" class="btn btn-primary" name="btn" value="courses">Get</button>
                </form>
            </div>
        </div>
        
        <div class=" row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button type="button" class="btn btn-info" id="times">times-control</button>
                <form action="{{url_for('admin',id = id)}}" method="post" id="form4">
                    <div class="form-group">
                        <label for="de">program:</label>
                        <input type="text" class="form-control" id="de" aria-describedby="emailHelp" placeholder="program" name="program">
                    </div>
                    <div class="form-group">
                        <label for="de">level:</label>
                        <input type="text" class="form-control" id="de" aria-describedby="emailHelp" placeholder="level" name="level">
                    </div>
                    
                    <button type="submit" class="btn btn-primary" name="btn" value="times">Get</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
</body>
</html>