<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/first.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container centring">
            <h3>
                <p>You have not registered for this subject :(</p>
            </h3>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="../static/js/bootstrap.min.js"></script>
    </body>
</html>