<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">

            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
                <h2>edit information:</h2>
                <form action="{{url_for('studentcontrol',id = id)}}" method="post">
                    <div class="form-group">
                        <label for="de">deparment:</label>
                        <input type="text" class="form-control" id="de" aria-describedby="emailHelp" placeholder="deparment" name="deparment">
                    </div>
                    <div class="form-group">
                        <label for="pr">program:</label>
                        <input type="text" class="form-control" id="pr" placeholder="program" name="program">
                    </div>
                    <div class="form-group">
                        <label for="le">level:</label>
                        <input type="text" class="form-control" id="le" placeholder="level" name="level">
                    </div>
                    <button type="submit" class="btn btn-primary">Get</button>
                </form>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>
</body>
</html>