<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        
        <script src="{{url_for('static',filename='js/student-control.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            .overlay
            {
                height: 794px;
                background-color: rgba(0,0,0,.5);
                background-image: url("{{url_for('static',filename='imgs/univeristy 2.jpg')}}");
                background-repeat: no-repeat;
                background-size: cover;
            }
            body
            {
                height: 100%;

                
            }
            .form
            {
                border: 2px solid;
                border-radius: 5px;
                padding: 20px;
                background-color: rgba(0,0,0,.5);
                color: #ABDDE5;
                                
            }
            .tabl
            {
                border: 1px solid black;
                padding: 20px;
                border-radius: 5px;
                background-color: rgba(0,0,0,.5);

            }
            /* width */
        ::-webkit-scrollbar {
          width: 10px; }

        /* Track */
        ::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0); }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888; }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #888; }

        ::-webkit-scrollbar-corner {
          background: rgba(0, 0, 0, 0); }

    </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="">AinShams Univeristy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('admin',id=id)}}">Home <span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item active">
                <a class="nav-link" href=""> program is {{prog_name}} <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item active">
                <a class="nav-link" href=""> department is {{dep_name}} <span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item active">
                <a class="nav-link" href=""> level is {{level}} <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('logout')}}">logout <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Enter secretcode" aria-label="Search" id="stcode">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search">Search</button>
            </div>

          </div>
        </nav>
    <div class="overlay">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {%if result != []%}

                    
                    <div style="margin-top: 30px; overflow: scroll; height: 300px;" class="tabl">
                        <table class=" table table-hover" id="myTable">
                            <thead class="info">
                                <tr class="table-info">
                                    <th scope="col">name</th>
                                    <th scope="col">age</th>
                                    <th scope="col">address</th>
                                    <th scope="col">gender</th>
                                    <th scope="col">email</th>
                                    <th scope="col">phonenumber</th>
                                    <th scope="col">gpa</th>
                                    <th scope="col">secretcode</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            {% for student in result%}
                                <tbody>
                                    <tr class="table-light" id="{{student.secretcode}}">
                                        <td data-id="{{student.ID}}" data-info="name" data-table = "student">{{student.name}} </td>
                                        <td data-id="{{student.ID}}" data-info="age" data-table = "student">{{student.age}} </td>
                                        <td data-id="{{student.ID}}" data-info="address" data-table = "student">{{student.address}}</td>
                                        <td data-id="{{student.ID}}" data-info="sex" data-table = "student">{{student.sex}}</td>
                                        <td data-id="{{student.ID}}" data-info="email" data-table = "student">{{student.email}}</td>
                                        <td data-id="{{student.ID}}" data-info="phonenumber" data-table = "student">{{student.phonenumber}}</td>
                                        <td data-id="{{student.ID}}" data-info="gpa" data-table = "student">{{student.gpa}}</td>
                                        <td data-id="{{student.ID}}" data-info="secretcode" data-table = "student">{{student.secretcode}}</td>
                                        <th ><button type="button" class="btn btn-danger" data-id="{{student.ID}}" data-table = "student" id="del">Delete</button>
                                        </th>
                                    </tr>
                                </tbody>
                            {%endfor%}
                        </table>
                    </div>
                    {%endif%}

                </div>
            </div>
                <div class="row" style="height: 400px; ">
                    <div class="col-md-4" >
                        <span style="color: red;">{{alretdb}}</span>
                        <div class="alert alert-primary" role="alert">
                           <h3> Add student</h3>
                        </div>
                            
                            <div id="input-control" style="height: 100%;">
                                <form action="" method="post" class="form" style="height: 300px; overflow:scroll;">
                                    <div class="form-group">
                                        <label for="name">name:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="ag">age:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="ag" aria-describedby="emailHelp" placeholder="age" name="age">
                                    </div>
                                    <div class="form-group">
                                        <label for="de">address:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="add" aria-describedby="emailHelp" placeholder="address" name="address">
                                    </div>
                                    <div class="form-group">
                                        <label for="ag">email:</label>
                                        
                                        <input type="text" class="form-control" id="ag" aria-describedby="emailHelp" placeholder="email (optional)" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="gpa">gpa:</label>
                                        
                                        <input type="text" class="form-control" id="gpa" aria-describedby="emailHelp" placeholder="gpa (optional)" name="gpa">
                                    </div>
                                    <div class="form-group">
                                        <label for="ge">gender:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="ge" placeholder="gender" name="gender">
                                    </div>
                                    <div class="form-group">
                                        <label for="ph">phone number:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="ph" placeholder="phone" name="phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="sec">secret code:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="sec" placeholder="secretcode" name="secretcode">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block" id="add">SAVE</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-8" style="color: silver;">
                            summercourse  : <button class="btn btn-primary" type="submit" data-level="{{level}}" data-state="{{states.summer}}" data-prog ="{{prog_name}}" data-what="summer" id="change">
                            
                                {% if states.summer == 1%}
                                    off
                               
                                {%endif%}
                                {% if states.summer == 0%}
                                    on
                               
                                {%endif%}
                            </button> 
                            regestiration  : <button class="btn btn-primary" type="submit" data-level="{{level}}" data-prog ="{{prog_name}}" data-state="{{states.subject}}" data-what="subject" id="change">
                                {% if states.subject == 1%}
                                    off
                               
                                {%endif%}
                                {% if states.subject == 0%}
                                    on
                               
                                {%endif%}
                            
                            </button>
                            
                            drop out : <button class="btn btn-primary" type="submit"  id="change" data-level="{{level}}" data-state="{{states.dropp}}" data-prog ="{{prog_name}}" data-what="dropp" >
                                {% if states.dropp == 1%}
                                    off
                               
                                {%endif%}
                                {% if states.dropp == 0%}
                                    on
                               
                                {%endif%}
                            
                            </button> 
                            work scorces : <button class="btn btn-primary" type="submit"  id="change" data-state="{{states.work}}" data-level="{{level}}" data-prog ="{{prog_name}}" data-what="work" >
                                {% if states.work == 1%}
                                    off
                               
                                {%endif%}
                                {% if states.work == 0%}
                                    on
                               
                                {%endif%}
                            </button> 
                            final scores : <button class="btn btn-primary" type="submit"  data-state="{{states.finall}}" id="change" data-level="{{level}}" data-prog ="{{prog_name}}" data-what="finall" >
                                {% if states.finall == 1%}
                                    off
                               
                                {%endif%}
                                {% if states.finall == 0%}
                                    on
                               
                                {%endif%}
                            </button>
                            
                            term :<button class="btn btn-primary" type="submit"  data-state="{{states.term}}" id="change" data-level="{{level}}" data-prog ="{{prog_name}}" data-what="term" >
                                {% if states.term == 1%}
                                    second
                               
                                {%endif%}
                                {% if states.term == 2%}
                                    first
                               
                                {%endif%}
                            </button>
                        </div>
                    </div>
            </div>
        </div>
        
 
        <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
        <script>
                document.addEventListener('DOMContentLoaded',function(){
                    var search = document.querySelector('#search');
                   
                    
                    
                    search.onclick = function(){
                         var studentcode = document.getElementById("stcode").value;
                        console.log(studentcode)
                        
                        var target =document.getElementById("myTable").rows.namedItem(studentcode);
                        console.log(target)
                        target.scrollIntoView();
                    }

                        document.querySelectorAll('#change').forEach(cell =>{
                            cell.onclick =()=> {
                                
                                
                                    
                                        request = new XMLHttpRequest();
                                        request.open('POST','/states');
                                        request.onload=function()
                                        {
                                            document.location=document.location;
                    
                                        }

                                        
                                        data_send = new FormData();

                                        data_send.append('level',cell.dataset.level);

                                        data_send.append('prog',cell.dataset.prog);
                                        data_send.append('what',cell.dataset.what);
                                        if (cell.dataset.state== 1 && cell.dataset.what != "term" )
                                        {
                                            data_send.append('state',0);
                                            cell.innerHTML = "off";
                                        }
                                       else if (cell.dataset.state== 0 && cell.dataset.what != "term" )
                                        {
                                            data_send.append('state',1);
                                            cell.innerHTML = "on";
                                        }
                                        if (cell.dataset.what == "term" && cell.dataset.state == 1)
                                            {
                                                data_send.append('state',2);
                                            }
                                        else
                                            {
                                                 data_send.append('state',1);
                                            }

                                        request.send(data_send);
                                    }

                });

            });
        </script>
        </body>
    
    
</html>