<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {%if result != []%}
                    <div>
                        <table class=" table result ">
                            <thead class="thead-dark">
                                <tr class="table-success">
                                    <th scope="col">name</th>
                                    <th scope="col">level</th>
                                    <th scope="col">program</th>
                                    <th scope="col">deparment</th>
                                    <th scope="col">gender</th>
                                    <th scope="col">address</th>
                                    <th scope="col">phonenumber</th>
                                    <th scope="col">gpa</th>
                                    <th scope="col">edit</th>
                                </tr>
                            </thead>
                            {% for student in result%}
                                <tbody>
                                    <tr class="table-success">
                                        <td >{{student.name}} </td>
                                        <td >{{student.program_level}} </td>
                                        <td >{{student.program_name}}</td>
                                        <td >{{student.department_name}}</td>
                                        <td >{{student.sex}}</td>
                                        <td >{{student.address}}</td>
                                        <td >{{student.phonenumber}}</td>
                                        <td >{{student.gpa}}</td>
                                        <th ><a href="{{url_for('m')}}">GO</a></th>
                                    </tr>
                                </tbody>
                            {%endfor%}
                        </table>
                    </div>
                    {%endif%}

                </div>
            </div>
                <div class="row">
                    <div class="col-md-4">
                            <h2>Add student:</h2>
                            <div id="input-control" style="height:50%;overflow:scroll;">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="name">name:</label>
                                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="dep">department:</label>
                                        <input type="text" class="form-control" id="dep" aria-describedby="emailHelp" placeholder="deparment" name="department">
                                    </div>
                                    <div class="form-group">
                                        <label for="prog">program:</label>
                                        <input type="text" class="form-control" id="prog" aria-describedby="emailHelp" placeholder="program" name="program">
                                    </div>
                                    <div class="form-group">
                                        <label for="l">level:</label>
                                        <input type="text" class="form-control" id="l" aria-describedby="emailHelp" placeholder="level" name="level">
                                    </div>
                                    <div class="form-group">
                                        <label for="ag">age:</label>
                                        <input type="text" class="form-control" id="ag" aria-describedby="emailHelp" placeholder="age" name="age">
                                    </div>
                                    <div class="form-group">
                                        <label for="de">address:</label>
                                        <input type="text" class="form-control" id="add" aria-describedby="emailHelp" placeholder="address" name="address">
                                    </div>
                                    <div class="form-group">
                                        <label for="ge">gender:</label>
                                        <input type="text" class="form-control" id="ge" placeholder="gender" name="gender">
                                    </div>
                                    <div class="form-group">
                                        <label for="ph">phone number:</label>
                                        <input type="text" class="form-control" id="ph" placeholder="phone" name="phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="sec">secret code:</label>
                                        <input type="text" class="form-control" id="sec" placeholder="secretcode" name="secretcode">
                                    </div>
                                    <button type="submit" class="btn btn-primary">SAVE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>