<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{{url_for('static',filename='js/student-control.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <style>
          .button1 {
    background-color:#e6b0aa;
    border-radius:10px;
    border:#e6b0aa;
    color:#333;
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin:5px 90px;
    cursor: pointer;
    }
        table.y{overflow-hidden;}
th.y{dispaly:block;color:#333;text-align:center;padding:14px 16px;text-decoration:none;background-color:#e6b0aa;
font-size: 18px;
}



     p.x{color:#E0FFFF;}
     .button1:hover { background-color: #D8959D;}

         a:link{text-decoration:none;color:#E0FFFF;font-size:18px;}
a:visited{color:#E0FFFF;text-decoration:none;font-size:18px;}
a:hover{font-size:18px;color:gray;}
          ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    height:65px;
    width:100%;
    background-color: rgba(0,0,0,0.2);}

li a {display: block; color: white; text-align: center;  padding: 14px 16px; float: left;
    text-decoration: none;font-family: Tahoma, serif; font-size:18px; height:70px;}
li a:hover:not(.active) {  background-color: rgba(0,0,0,0.4);}
.active { background-color:#e6b0aa;}
.search
{
float:right;
margin:10px;
display: block;
 overflow: hidden;

}

            .overlay
            {
               height:1000px;
                background-color: rgba(0,0,0,.5);


            }
             .ov
            {
                height: 70px;
                background-color: rgba(0,0,0,.5);
                border-radius: 5px;
                 padding: 10px 30px;

            }
            body
            {
                height: 970px;
                background-image: url("{{url_for('static',filename='imgs/es.jpg')}}");
                background-repeat: no-repeat;
                background-size: cover;

            }
            .form
            {
                border: 2px solid;
                border-radius: 5px;
                padding: 20px;
                background-color: rgba(0,0,0,.5);
                color: #ABDDE5;


            }
            p{ font-size: 27px;
               font-family: Tahoma, serif;
               color: #e6b0aa;
              }
            .tabl
            {
                border: 1px solid black;
                padding: 15px;
                border-radius: 10px;
                background-color: rgba(0,0,0,.5);

            }
            /* width */
        ::-webkit-scrollbar {
          width: 10px; }

        /* Track */
        ::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0); }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888; }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #888; }

        ::-webkit-scrollbar-corner {
          background: rgba(0, 0, 0, 0); }

    </style>
    </head>
    <body>
     <div class="overlay">
        <ul>
         <li><a  href="{{url_for('admin',id=id)}}">Home</a></li>
            <li><a href="#" class="active">Times-Control</a></li>
            <li><a  href="{{url_for('logout')}}">Logout</a></li>
        </ul>
        <p align="center" class="x">{{prog_name}} Program&nbsp( level {{level}})</p>

        <div class="container">
            
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {%if result != []%}
                  <div style="margin-top: 10px; overflow: scroll; height: 300px;" class="tabl">
                        <table class=" table table-hover" >
                            <thead class="info">
                                <tr >
                                    <th scope="col" class="y">Day</th>
                                    <th scope="col" class="y">Course Code</th>
                                    <th scope="col" class="y">Name</th>
                                    <th scope="col" class="y">Type</th>
                                    <th scope="col" class="y">From</th>
                                    <th scope="col" class="y">To</th>
                                    <th scope="col" class="y">Place</th>
                                    <th scope="col" class="y">Delete</th>
                                </tr>
                            </thead>
                                <!--  code 5ra awii 3ndi fkra bs msh dlw3ti !-->
                                <tbody>
                                    <!-- saturday !-->
                            {% set count = [1] %} 
                            {% set flag = {'day':result[0][0]} %}
                            {% for time in result %}
                            
                                    {% if flag['day'] != time.weekdays_day %} 
                                        {% set count = [1] %}
                                        
                                    {%endif%}
                                    {% if flag.update( {'day' : time.weekdays_day} )  %}{%endif%}
                                    <tr class="table-light">
                                        {% if count[0] == 1 %}
                                            <th>{{time.weekdays_day}}</th>
                                        {%endif%}
                                        {% if count[0] > 1 %}
                                            <th></th>
                                        {%endif%}
                                        <th >{{time.course_id}}</th>
                                        <th >{{time.name}}</th>
                                        <td data-id="{{time.id}}" data-info="type" data-table = "times">{{time.type}}</td>
                                        <td data-id="{{time.id}}" data-info="fromm" data-table = "times">{{time.fromm}}</td>
                                        <td data-id="{{time.id}}" data-info="too" data-table = "times">{{time.too}}</td>
                                        <td data-id="{{time.id}}" data-info="place" data-table = "times">{{time.place}}</td>
                                        <th><button type="button" class="btn btn-danger" data-id="{{time.id}}" data-table = "times" id="del">Delete</button></th>
                                        {% if count.append(count.pop() + 1) %}{%endif%}
                                                
                                    </tr>
                                    
                            
                            {%endfor%}
                                    
                                    <!-- sunday !--
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'sunday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}

                            {%endfor%}
                                    <!-- monday --
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'monday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}
                            {%endfor%}
                            <!-- tuesday !--
                                    
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'tuesday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}
                            {%endfor%}
                                    
                                    <!-- wednesday !--
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'wednesday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}
                            {%endfor%}
                                    
                                <!-- thursday !--
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'thursday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}
                            {%endfor%}
                            <!-- -->
                                </tbody>
                        </table>
                    </div>
                    {%endif%}

                </div>
            </div>
                 <br>
                <div class="row">
                    <div class="col-md-4">
                       <div class="ov" role="alert">
                          <p> Add Course</p>
                        </div>

                        <br>



                           <div id="input-control" style="height:100%;">
                                <form action="" method="post" class="form" style="overflow:scroll;height:350px;">

                                    <div class="form-group" >

                                        <label for="day">Day:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <select class="form-control" name="weekday">
                                            
                                            <option value="1Saturday">Saturday</option>
                                            <option value="2Sunday">Sunday</option>
                                            <option value="3Monday">Monday</option>
                                            <option value="4Tuesday">Tuesday</option>
                                            <option value="5Wednesday">Wednesday</option>
                                            <option value="6Thursday">Thursday</option>
                                            
                                        </select>                                    
                                    </div>
                                    <div class="form-group">
                                        <label for="course">Course Code:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="course" aria-describedby="emailHelp" placeholder="course code" name="coursecode">
                                    </div>
                                    <div class="form-group">
                                        <label for="type">Type:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="type" aria-describedby="emailHelp" placeholder="type" name="type">
                                    </div>
                                    <div class="form-group">
                                        <label for="from">From:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="from" aria-describedby="emailHelp" placeholder="from" name="from">
                                    </div>
                                    <div class="form-group">
                                        <label for="to">To:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="to" aria-describedby="emailHelp" placeholder="to" name="to">
                                    </div>
                                    <div class="form-group">
                                        <label for="place">Place:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="place" aria-describedby="emailHelp" placeholder="place" name="place">
                                    </div>
                                    <button type="submit" class="button1" id="add">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
        </div>
    </body>

</html>