<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{{url_for('static',filename='js/student-control.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('admin',id=id)}}">Home <span class="sr-only">(current)</span></a>
              </li>
    
                <li class="nav-item active">
                    <a class="nav-link" href="">program is {{prog_name}} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">level is {{level}} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('logout')}}">logout <span class="sr-only">(current)</span></a>
                </li>
            </ul>

          </div>
        </nav>
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {%if result != []%}
                    <span style="color: red;">{{alretdb}}</span> 
                    <div style="height: 350px; overflow: scroll; margin-top: 30px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">day</th>
                                    <th scope="col">course code</th>
                                    <th scope="col">name</th>
                                    <th scope="col">type</th>
                                    <th scope="col">from</th>
                                    <th scope="col">to</th>
                                    <th scope="col">place</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                                <!--  code 5ra awii 3ndi fkra bs msh dlw3ti !-->
                                <tbody>
                                    <!-- saturday !-->
                            {% set count = [1] %} 
                            {% set flag = {'day':result[0][0]} %}
                            {% for time in result %}
                            
                                    {% if flag['day'] != time.weekdays_day %} 
                                        {% set count = [1] %}
                                        
                                    {%endif%}
                                    {% if flag.update( {'day' : time.weekdays_day} )  %}{%endif%}
                                    <tr >
                                        {% if count[0] == 1 %}
                                            <th>{{time.weekdays_day}}</th>
                                        {%endif%}
                                        {% if count[0] > 1 %}
                                            <th></th>
                                        {%endif%}
                                        <th >{{time.course_id}}</th>
                                        <th >{{time.name}}</th>
                                        <td data-id="{{time.id}}" data-info="type" data-table = "times">{{time.type}}</td>
                                        <td data-id="{{time.id}}" data-info="fromm" data-table = "times">{{time.fromm}}</td>
                                        <td data-id="{{time.id}}" data-info="too" data-table = "times">{{time.too}}</td>
                                        <td data-id="{{time.id}}" data-info="place" data-table = "times">{{time.place}}</td>
                                        <th><button type="button" class="btn btn-danger" data-id="{{time.id}}" data-table = "times" id="del">Delete</button></th>
                                        {% if count.append(count.pop() + 1) %}{%endif%}
                                                
                                    </tr>
                                    
                            
                            {%endfor%}
                                    
                                    <!-- sunday !--
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'sunday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}

                            {%endfor%}
                                    <!-- monday --
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'monday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}
                            {%endfor%}
                            <!-- tuesday !--
                                    
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'tuesday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}
                            {%endfor%}
                                    
                                    <!-- wednesday !--
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'wednesday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}
                            {%endfor%}
                                    
                                <!-- thursday !--
                            {% set count = [1] %} 
                                    
                            {% for time in result %}
                            
                                    {% if time.weekdays_day == 'thursday' %}
                                       
                                            <tr >
                                                {% if count[0] == 1 %}
                                                    <th>{{time.weekdays_day}}</th>
                                                {%endif%}
                                                {% if count[0] > 1 %}
                                                    <th></th>
                                                {%endif%}
                                                <td >{{time.course_code}}</td>
                                                <td >{{time.type}}</td>
                                                <td >{{time.fromm}}</td>
                                                <td >{{time.too}}</td>
                                                <td ><button>delete</button></td>
                                                {% if count.append(count.pop() + 1) %}{% endif %}
                                                
                                            </tr>
                                    {%endif%}
                            {%endfor%}
                            <!-- -->
                                </tbody>
                        </table>
                    </div>
                    {%endif%}

                </div>
            </div>
                <div class="row">
                    <div class="col-md-4">
                            <h2 id="s">Add Course:</h2>
                            <div id="input-control" style="height:50%;">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="day">day:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <select class="form-control" name="weekday">
                                            
                                            <option value="1saturday">saturday</option>
                                            <option value="2sunday">sunday</option>
                                            <option value="3monday">monday</option>
                                            <option value="4tuesday">tuesday</option>
                                            <option value="5wednesday">wednesday</option>
                                            <option value="6thursday">thursday</option>
                                            
                                        </select>                                    
                                    </div>
                                    <div class="form-group">
                                        <label for="course">course code:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="course" aria-describedby="emailHelp" placeholder="course code" name="coursecode">
                                    </div>
                                    <div class="form-group">
                                        <label for="type">type:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="type" aria-describedby="emailHelp" placeholder="type" name="type">
                                    </div>
                                    <div class="form-group">
                                        <label for="from">from:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="from" aria-describedby="emailHelp" placeholder="from" name="from">
                                    </div>
                                    <div class="form-group">
                                        <label for="to">to:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="to" aria-describedby="emailHelp" placeholder="to" name="to">
                                    </div>
                                    <div class="form-group">
                                        <label for="place">place:</label>
                                        <span style="color: red;">{{alret}}</span>
                                        <input type="text" class="form-control" id="place" aria-describedby="emailHelp" placeholder="place" name="place">
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="add">SAVE</button>
                                </form>
                            </div>
                        </div>
                    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
        </div>
    </body>
</html>